


//----------------------------------------\\
// Button object
//----------------------------------------\\

@mixin o-btn {
  background: $gray;
  color: $primary-color;
  display: inline-block;
  border: 0;
  padding: 10px 16px;
  border-radius: $br;
  text-transform: uppercase;
  font-weight: bold;
}


.o-btn {
  @include o-btn;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    outline: none;
    background: $primary-color;
    color: $white;
    box-shadow: $shadow;
  }


  &.o-btn--weak {
    background: $silver;
  }

  &.o-btn--to-danger {
    &:hover,
    &:focus,
    &:active {
      background: $danger-color;
    }
  }
}
