<% document_types = [
  {
    id: 1,
    name: 'Visas',
    count: 5,
  },
  {
    id: 2,
    name: 'Passports',
    count: 0,
  },
  {
    id: 3,
    name: 'Childhood Photos',
    count: 36,
  }
] %>

<div class="container u-padding-t-100 u-text--center js-modal-target">
  <p class="u-color--weak">Replace me with a modal</p>
</div>

<div class="container u-padding-y-100">
  <% document_types.each do |item| %>
    <section class="c-item js-item">
      <div class="c-item__content">
        <h1 class="c-item__title"><%= item[:name] %></h1>
        <p class="c-item__description">We've got <%= item[:count] %> documents of this type</p>
      </div>
      <div class="c-item__actions">
        <button type="button" class="o-btn o-btn--weak o-btn--to-danger">Delete</button>
      </div>
    </section>
  <% end %>
</div>




<%#
### Description of tasks and dummy html for modals bellow!
#%>

<section class="u-bg--darkgray">
  <div class="container u-padding-t-100">
    <aside class="c-modal">
      <header class="c-modal__header">
        <h1>Name of item should go here</h1>
      </header>
      <div class="c-modal__content">
        <p>Description something like: 'Are you sure you want to delete this document type and the ### related documents?'</p>
      </div>
      <footer class="c-modal__footer">
        <button type="button" class="o-btn">Cancel</button>
        <button type="button" class="o-btn o-btn--to-danger">Delete item</button>
      </footer>
    </aside>
  </div>


  <div class="container u-padding-y-100">
    <h1>Javascript modals</h1>
    <p>Setup some custom javascript that generates a modal/dialog box to confirm deletion of one of the above rendered items. You can use, good old javascript, jquery, or ES6 to do this task!</p>

    <ul>
      <li>Clicking one of the above delete buttons should create a bespoke modal / replace the text above the items.</li>
      <li>The title and description on the modal should change based on which one is clicked.</li>
      <li>Hitting delete should remove the item from the dom. No interaction with any kind of backend needed at this point!</li>
    </ul>

    <h2 class="u-padding-t-50">Stretch goals</h2>
    <p>Pick the one you want or do them in any order!</p>
    <ul>
      <li>Make a proper floating modal with a faded out overlay.</li>
      <li>Animate in/out modals and items when anything happens!</li>
      <li>Check the number of documents for the specific item, and render a additional form field that needs to be filled in to confirm deletion of item and all related items!</li>
    </ul>
  </div>
</section>
